@import "resets.scss";
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.eot") format("embedded-opentype");
  src: url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.eot") format("embedded-opentype");
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
body,
html {
    overflow-x: hidden;
}
/*hago una grilla simple*/
/*variables*/
// grid variables
// $grid-columnas: 12;
// $maximo-ancho-grilla: 1200px;
// $mediaQuery-extra-chico: "(max-width: 481px)";
// $mediaQuery-chico: "(max-width: 769px)";
// $mediaQuery-mediano: "(max-width: 1200px)";
// $mediaQuery-grande: "(min-width: 1201px)";

$grid-columnas: 12;
$maximo-ancho-grilla: 1100px;
$mediaQuery-extra-chico: "screen and (max-width: 29.5em)";
$mediaQuery-chico: "screen and (min-width: 30em)";
$mediaQuery-mediano: "screen and (min-width: 48em)";
$mediaQuery-grande: "screen and (min-width: 64em)";
/*mixins*/
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


* {
    font-family: sans-serif;
    line-height: normal;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%clearfix {
    *zoom: 1;

    &:after,
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.clearfix::before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* close commented backslash hack */
/*grilla*/
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

a{
  color: inherit;
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
    @media #{$mediaQuery-chico} {
        max-width: 94%;
    }
}
.thin{
  font-size: 30px;
  font-weight: 100;
}
.it{
  font-style: italic;
}
.psi {

    padding: 20px 0;

}
.caption{
    margin: 0;
    float: right;
    padding-right: 5%;
    font-size: 12px;
    font-family: Oswald;
}
.live{
  display: inline-block;
  font-family: oswald;
  font-size: 13px;
  text-align: right;
  padding: 0 20px;
}
.live img{
  width: 30px;
  vertical-align: middle;
}
.fld {
  @media #{$mediaQuery-grande} {
      float: right!important;
  }
  @media #{$mediaQuery-mediano} {
      float: right!important;
  }
  @media #{$mediaQuery-chico} {
      float: right!important;
  }
}
.fld-min {
  @media #{$mediaQuery-extra-chico} {
      float: right!important;
  }

}
.fli {
    float: left!important;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    max-width: $maximo-ancho-grilla;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.fila {
    width: 100%;
    clear: both;
    float: left;
    height: auto;
}
@for $cont from 1 through $grid-columnas {
    .col-#{$cont} {
        width: 100% / $grid-columnas * $cont;
        float: left;
    }
}
@media #{$mediaQuery-mediano} {
     @for $cont from 1 through $grid-columnas{
        .col-md-#{$cont} {
            width: 100% / $grid-columnas * $cont;
            float: left;
        }
    }
}


@media #{$mediaQuery-chico} {
     @for $cont from 1 through $grid-columnas{
        .col-ch-#{$cont} {
            width: 100% / $grid-columnas * $cont;
            float: left;
        }
    }
}
@media #{$mediaQuery-extra-chico} {
     @for $cont from 1 through $grid-columnas{
        .col-xch-#{$cont} {
            width: 100% / $grid-columnas * $cont;
            float: left;
        }
    }
}

.col-centrado {
    float: none;
    margin: auto;

    &::before {
        content: "";
        display: table;
        clear: both;
    }
}

.col-mobile {
    @media #{$mediaQuery-grande} {
        display: none;
    }
    @media #{$mediaQuery-mediano} {
        display: none;
    }
    @media #{$mediaQuery-chico} {
        display: none;
    }
    @media #{$mediaQuery-extra-chico} {
        display: block;
    }
}

.col-desktop {
    @media #{$mediaQuery-grande} {
        display: block;
    }
    @media #{$mediaQuery-mediano} {
        display: block;
    }
    @media #{$mediaQuery-chico} {
        display: block;
    }
    @media #{$mediaQuery-extra-chico} {
        display: block;
    }
}
.margen-min{
  @media #{$mediaQuery-extra-chico} {
    margin-left: 13%;
    padding: 0px;
  }
  img{
    @media #{$mediaQuery-extra-chico} {
    padding: 15px 0px !important;
  }
}
}
p {
    font-family:'Roboto-thin', sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
}

a {
    transition: 0.5s ease;
    text-decoration: none;
}

.txt-centro {
    text-align: center;
}
.pad-30{
  @media #{$mediaQuery-grande} {
      padding-left: 30px;
  }
  @media #{$mediaQuery-mediano} {
      padding-left: 30px;
  }
  @media #{$mediaQuery-chico} {
      padding-left: 30px;
  }
  @media #{$mediaQuery-extra-chico} {
      padding-left: 0px;
  }
}
.seccion-contenido {
    padding: 50px 0;
    position: relative;
    @media #{$mediaQuery-extra-chico} {
      padding: 30px 0px;
    }
    /*&:after{
    content:"";
    display: block;
    height: 100%;
    top: 0px;
    width: 1000px;
    right: 30px;
    border-left: 4px solid #D5DFE1;
    position: absolute;
  }*/
    &:before {
        content: "";
        display: block;
        top: 0;
        height: 100%;
        left: 17.5%;
        border-left: 2px solid #D1D1D1;
        position: absolute;
        @media #{$mediaQuery-extra-chico} {
          left: 10.5%;
        }
    }

    h3.titular-gris {
        font-family: 'Oswald', sans-serif;
        color: #D5DFE1;
        font-size: 6em;
        padding: 0 30px;
        @media #{$mediaQuery-extra-chico} {
            font-size: 3.8em;
            padding: 0 0;
        }
    }

    h4.titular-texto {
        font-family: 'Oswald', sans-serif;
        line-height: normal;
        font-size: 1.6em;
        line-height: 1.5em;
        padding: 10px;

    }

    p {
        line-height: 1.4em;
    }

    p.fecha {
        color: #cc1d3c;
        font-weight: bold;
        padding: 0 10px;
        font-size: 16px;
        margin-top: 10px;
    }

    .linea-azul,
    .linea-roja {
        position: relative;
        padding-bottom: 40px;
        z-index: 20;

        &:after {
            content: "";
            display: block;
            height: 4px;
            bottom: 0;
            width: 3000px;
            right: 0;
            border-top: 4px solid #cc1d3c;
            position: absolute;
        }
    }

    .linea-roja {
        &:after {
            border-top: 4px solid #cc1d3c;
        }
    }

    .linea-azul {
        &:after {
            border-top: 4px solid #005B87;
        }
    }

    img{
      padding: 12px 0px;
    }

}
.shadow{

  box-shadow: 10px 25px 50px;
  -webkit-box-shadow: 10px 25px 50px;
  -moz-box-shadow: 10px 25px 50px;
}
.foto{
    padding: 0px 80px;
    margin-top: 2rem;
    @media #{$mediaQuery-extra-chico} {
        display: none;
    }
}
.page-header {
    height: 50px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 100;

    &.headerFijo {
        background-color: #005b87;
        transition: 0.5s ease;
    }

    .contenedor {
        height: 50px;

        > div {
            height: 50px;
        }

        .logo {
            a {
                display: block;
                float: left;
                width: 120px;
                margin-top: 10px;

                img {
                    display: block;
                    float: left;
                }
            }
        }
        .logo{
          margin-left: 10px;
        }

        .redes {
            margin-top: 13px;
            margin-right: 10px;

            ul.compartir {
                display: block;
                float: right;

                li {
                    margin: 0;
                    padding: 0;
                    float: left;
                    display: block;
                    list-style: none;
                    margin-left: 5px;

                    a {
                      display: block;
                      float: left;
                      width: 30px;
                      height: 30px;
                    }
                }
            }
        }
    }
}
/*page-header*/
#intro {
    background-image: url("../img/bg-fidel.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 60px;

    .texto {
        padding-left: 4%;
        // padding-top: 8%;

        @media #{$mediaQuery-mediano} and (orientation:portrait){
          width: 60%;
        }

        @media #{$mediaQuery-chico} {
            padding-top: 0;

        }

        @media #{$mediaQuery-chico} and (orientation:portrait){
          width: 100%;
        }
        @media #{$mediaQuery-extra-chico} and (orientation:portrait){
          // width: 100%;
        }
        h1 {
            color: #fff;
            font-size: 5.5em;
            font-family: 'Oswald', sans-serif;
            text-align: justify;
            margin-bottom: 0.5em;



            @media #{$mediaQuery-chico} {
                font-size: 5.5em;
                margin-bottom: 0;
            }
            @media #{$mediaQuery-extra-chico} {
                font-size: 5.5em;
                text-align: center;
                margin-top: 25%;
            }
            @media #{$mediaQuery-extra-chico} and (orientation:portrait){
              font-size: 4em;
            }

            span {
                font-size: 1.5em;
                @media #{$mediaQuery-extra-chico} {
                    font-size: 1em;
                }
            }
        }

        a,
        p {
            color: #fff;
            text-align: left;
            line-height: normal;
            font-family: sans-serif;
            line-height: 1.5rem;
            @media #{$mediaQuery-extra-chico} {

                text-align: center;
            }
        }
    }

    ul.selectorIdiomas {
        display: block;
        float: left;
        margin-top: 30px;
        @media #{$mediaQuery-extra-chico} {

            margin-left: 30%;
        }

        li {
            list-style: none;
            float: left;
            margin-right: 10px;

            a {
                display: block;
                text-decoration: none;
                padding: 5px 8px;

                &.activo,
                &:hover {
                    border-bottom: 5px solid #DF0941;
                }
            }
        }
    }

    .foto {
      @media #{$mediaQuery-chico} and (orientation:portrait){
        margin-top: 30px;
        width: 100%;
      }
      @media #{$mediaQuery-mediano} and (orientation:portrait){
        margin-top: 30px;
        width: 100%;
      }
        @media #{$mediaQuery-extra-chico} {
            padding-top: 20px;
        }
    }

    img {
        @media #{$mediaQuery-chico} {
            max-width: 94%;
            margin: auto;
            display: block;
        }
        @media #{$mediaQuery-mediano} and (orientation:portrait){
          max-width: 94%;
          margin: auto;
          display: block;
        }
    }
}

b,
strong {
    font-weight: bold;
}

.footer {
    padding: 10% 0;
    text-align: center !important;
    font-family: sans-serif;

    .hr {
        margin-top: 30px;
        margin-bottom: 30px;
        background: #a1a1a1;
        height: 1px;
        width: auto;
    }

    .txt-footer {
        color: #484848;
        font-size: 0.8em;
        font-weight: 100;
        text-align: center;
        line-height: 1.5em;
    }

    .copyright {
        margin-top: 10px;
        text-align: center;

        span {
            color: #000;
        }
    }
}
