/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.eot") format("embedded-opentype");
  src: url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.eot") format("embedded-opentype");
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
body,
html {
  overflow-x: hidden; }

/*hago una grilla simple*/
/*variables*/
/*mixins*/
* {
  font-family: sans-serif;
  line-height: normal; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/*grilla*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }
  @media screen and (min-width: 30em) {
    img {
      max-width: 94%; } }

.thin {
  font-size: 30px;
  font-weight: 100; }

.it {
  font-style: italic; }

.psi {
  padding: 20px 0; }

.caption {
  margin: 0;
  float: right;
  padding-right: 5%;
  font-size: 12px;
  font-family: Oswald; }

.live {
  display: inline-block;
  font-family: oswald;
  font-size: 13px;
  text-align: right;
  padding: 0 20px; }

.live img {
  width: 30px;
  vertical-align: middle; }

@media screen and (min-width: 64em) {
  .fld {
    float: right !important; } }
@media screen and (min-width: 48em) {
  .fld {
    float: right !important; } }
@media screen and (min-width: 30em) {
  .fld {
    float: right !important; } }

@media screen and (max-width: 29.5em) {
  .fld-min {
    float: right !important; } }

.fli {
  float: left !important; }

.contenedor {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px; }
  .contenedor:after {
    content: "";
    display: table;
    clear: both; }

.fila {
  width: 100%;
  clear: both;
  float: left;
  height: auto; }

.col-1 {
  width: 8.33333%;
  float: left; }

.col-2 {
  width: 16.66667%;
  float: left; }

.col-3 {
  width: 25%;
  float: left; }

.col-4 {
  width: 33.33333%;
  float: left; }

.col-5 {
  width: 41.66667%;
  float: left; }

.col-6 {
  width: 50%;
  float: left; }

.col-7 {
  width: 58.33333%;
  float: left; }

.col-8 {
  width: 66.66667%;
  float: left; }

.col-9 {
  width: 75%;
  float: left; }

.col-10 {
  width: 83.33333%;
  float: left; }

.col-11 {
  width: 91.66667%;
  float: left; }

.col-12 {
  width: 100%;
  float: left; }

@media screen and (min-width: 48em) {
  .col-md-1 {
    width: 8.33333%;
    float: left; }

  .col-md-2 {
    width: 16.66667%;
    float: left; }

  .col-md-3 {
    width: 25%;
    float: left; }

  .col-md-4 {
    width: 33.33333%;
    float: left; }

  .col-md-5 {
    width: 41.66667%;
    float: left; }

  .col-md-6 {
    width: 50%;
    float: left; }

  .col-md-7 {
    width: 58.33333%;
    float: left; }

  .col-md-8 {
    width: 66.66667%;
    float: left; }

  .col-md-9 {
    width: 75%;
    float: left; }

  .col-md-10 {
    width: 83.33333%;
    float: left; }

  .col-md-11 {
    width: 91.66667%;
    float: left; }

  .col-md-12 {
    width: 100%;
    float: left; } }
@media screen and (min-width: 30em) {
  .col-ch-1 {
    width: 8.33333%;
    float: left; }

  .col-ch-2 {
    width: 16.66667%;
    float: left; }

  .col-ch-3 {
    width: 25%;
    float: left; }

  .col-ch-4 {
    width: 33.33333%;
    float: left; }

  .col-ch-5 {
    width: 41.66667%;
    float: left; }

  .col-ch-6 {
    width: 50%;
    float: left; }

  .col-ch-7 {
    width: 58.33333%;
    float: left; }

  .col-ch-8 {
    width: 66.66667%;
    float: left; }

  .col-ch-9 {
    width: 75%;
    float: left; }

  .col-ch-10 {
    width: 83.33333%;
    float: left; }

  .col-ch-11 {
    width: 91.66667%;
    float: left; }

  .col-ch-12 {
    width: 100%;
    float: left; } }
@media screen and (max-width: 29.5em) {
  .col-xch-1 {
    width: 8.33333%;
    float: left; }

  .col-xch-2 {
    width: 16.66667%;
    float: left; }

  .col-xch-3 {
    width: 25%;
    float: left; }

  .col-xch-4 {
    width: 33.33333%;
    float: left; }

  .col-xch-5 {
    width: 41.66667%;
    float: left; }

  .col-xch-6 {
    width: 50%;
    float: left; }

  .col-xch-7 {
    width: 58.33333%;
    float: left; }

  .col-xch-8 {
    width: 66.66667%;
    float: left; }

  .col-xch-9 {
    width: 75%;
    float: left; }

  .col-xch-10 {
    width: 83.33333%;
    float: left; }

  .col-xch-11 {
    width: 91.66667%;
    float: left; }

  .col-xch-12 {
    width: 100%;
    float: left; } }
.col-centrado {
  float: none;
  margin: auto; }
  .col-centrado::before {
    content: "";
    display: table;
    clear: both; }

@media screen and (min-width: 64em) {
  .col-mobile {
    display: none; } }
@media screen and (min-width: 48em) {
  .col-mobile {
    display: none; } }
@media screen and (min-width: 30em) {
  .col-mobile {
    display: none; } }
@media screen and (max-width: 29.5em) {
  .col-mobile {
    display: block; } }

@media screen and (min-width: 64em) {
  .col-desktop {
    display: block; } }
@media screen and (min-width: 48em) {
  .col-desktop {
    display: block; } }
@media screen and (min-width: 30em) {
  .col-desktop {
    display: block; } }
@media screen and (max-width: 29.5em) {
  .col-desktop {
    display: block; } }

@media screen and (max-width: 29.5em) {
  .margen-min {
    margin-left: 13%;
    padding: 0px; } }
@media screen and (max-width: 29.5em) {
  .margen-min img {
    padding: 15px 0px !important; } }

p {
  font-family: 'Roboto-thin', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em; }

a {
  transition: 0.5s ease;
  text-decoration: none; }

.txt-centro {
  text-align: center; }

@media screen and (min-width: 64em) {
  .pad-30 {
    padding-left: 30px; } }
@media screen and (min-width: 48em) {
  .pad-30 {
    padding-left: 30px; } }
@media screen and (min-width: 30em) {
  .pad-30 {
    padding-left: 30px; } }
@media screen and (max-width: 29.5em) {
  .pad-30 {
    padding-left: 0px; } }

.seccion-contenido {
  padding: 50px 0;
  position: relative;
  /*&:after{
  content:"";
  display: block;
  height: 100%;
  top: 0px;
  width: 1000px;
  right: 30px;
  border-left: 4px solid #D5DFE1;
  position: absolute;
}*/ }
  @media screen and (max-width: 29.5em) {
    .seccion-contenido {
      padding: 30px 0px; } }
  .seccion-contenido:before {
    content: "";
    display: block;
    top: 0;
    height: 100%;
    left: 17.5%;
    border-left: 2px solid #D1D1D1;
    position: absolute; }
    @media screen and (max-width: 29.5em) {
      .seccion-contenido:before {
        left: 10.5%; } }
  .seccion-contenido h3.titular-gris {
    font-family: 'Oswald', sans-serif;
    color: #D5DFE1;
    font-size: 6em;
    padding: 0 30px; }
    @media screen and (max-width: 29.5em) {
      .seccion-contenido h3.titular-gris {
        font-size: 3.8em;
        padding: 0 0; } }
  .seccion-contenido h4.titular-texto {
    font-family: 'Oswald', sans-serif;
    line-height: normal;
    font-size: 1.6em;
    line-height: 1.5em;
    padding: 10px; }
  .seccion-contenido p {
    line-height: 1.4em; }
  .seccion-contenido p.fecha {
    color: #cc1d3c;
    font-weight: bold;
    padding: 0 10px;
    font-size: 16px;
    margin-top: 10px; }
  .seccion-contenido .linea-azul,
  .seccion-contenido .linea-roja {
    position: relative;
    padding-bottom: 40px;
    z-index: 20; }
    .seccion-contenido .linea-azul:after,
    .seccion-contenido .linea-roja:after {
      content: "";
      display: block;
      height: 4px;
      bottom: 0;
      width: 3000px;
      right: 0;
      border-top: 4px solid #cc1d3c;
      position: absolute; }
  .seccion-contenido .linea-roja:after {
    border-top: 4px solid #cc1d3c; }
  .seccion-contenido .linea-azul:after {
    border-top: 4px solid #005B87; }
  .seccion-contenido img {
    padding: 12px 0px; }

.shadow {
  box-shadow: 10px 25px 50px;
  -webkit-box-shadow: 10px 25px 50px;
  -moz-box-shadow: 10px 25px 50px; }

.foto {
  padding: 0px 80px;
  margin-top: 2rem; }
  @media screen and (max-width: 29.5em) {
    .foto {
      display: none; } }

.page-header {
  height: 50px;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 100; }
  .page-header.headerFijo {
    background-color: #005b87;
    transition: 0.5s ease; }
  .page-header .contenedor {
    height: 50px; }
    .page-header .contenedor > div {
      height: 50px; }
    .page-header .contenedor .logo a {
      display: block;
      float: left;
      width: 120px;
      margin-top: 10px; }
      .page-header .contenedor .logo a img {
        display: block;
        float: left; }
    .page-header .contenedor .logo {
      margin-left: 10px; }
    .page-header .contenedor .redes {
      margin-top: 13px;
      margin-right: 10px; }
      .page-header .contenedor .redes ul.compartir {
        display: block;
        float: right; }
        .page-header .contenedor .redes ul.compartir li {
          margin: 0;
          padding: 0;
          float: left;
          display: block;
          list-style: none;
          margin-left: 5px; }
          .page-header .contenedor .redes ul.compartir li a {
            display: block;
            float: left;
            width: 30px;
            height: 30px; }

/*page-header*/
#intro {
  background-image: url("../img/bg-fidel.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 60px; }
  #intro .texto {
    padding-left: 4%; }
    @media screen and (min-width: 48em) and (orientation: portrait) {
      #intro .texto {
        width: 60%; } }
    @media screen and (min-width: 30em) {
      #intro .texto {
        padding-top: 0; } }
    @media screen and (min-width: 30em) and (orientation: portrait) {
      #intro .texto {
        width: 100%; } }
    #intro .texto h1 {
      color: #fff;
      font-size: 5.5em;
      font-family: 'Oswald', sans-serif;
      text-align: justify;
      margin-bottom: 0.5em; }
      @media screen and (min-width: 30em) {
        #intro .texto h1 {
          font-size: 5.5em;
          margin-bottom: 0; } }
      @media screen and (max-width: 29.5em) {
        #intro .texto h1 {
          font-size: 5.5em;
          text-align: center;
          margin-top: 25%; } }
      @media screen and (max-width: 29.5em) and (orientation: portrait) {
        #intro .texto h1 {
          font-size: 4em; } }
      #intro .texto h1 span {
        font-size: 1.5em; }
        @media screen and (max-width: 29.5em) {
          #intro .texto h1 span {
            font-size: 1em; } }
    #intro .texto a,
    #intro .texto p {
      color: #fff;
      text-align: left;
      line-height: normal;
      font-family: sans-serif;
      line-height: 1.5rem; }
      @media screen and (max-width: 29.5em) {
        #intro .texto a,
        #intro .texto p {
          text-align: center; } }
  #intro ul.selectorIdiomas {
    display: block;
    float: left;
    margin-top: 30px; }
    @media screen and (max-width: 29.5em) {
      #intro ul.selectorIdiomas {
        margin-left: 30%; } }
    #intro ul.selectorIdiomas li {
      list-style: none;
      float: left;
      margin-right: 10px; }
      #intro ul.selectorIdiomas li a {
        display: block;
        text-decoration: none;
        padding: 5px 8px; }
        #intro ul.selectorIdiomas li a.activo, #intro ul.selectorIdiomas li a:hover {
          border-bottom: 5px solid #DF0941; }
  @media screen and (min-width: 30em) and (orientation: portrait) {
    #intro .foto {
      margin-top: 30px;
      width: 100%; } }
  @media screen and (min-width: 48em) and (orientation: portrait) {
    #intro .foto {
      margin-top: 30px;
      width: 100%; } }
  @media screen and (max-width: 29.5em) {
    #intro .foto {
      padding-top: 20px; } }
  @media screen and (min-width: 30em) {
    #intro img {
      max-width: 94%;
      margin: auto;
      display: block; } }
  @media screen and (min-width: 48em) and (orientation: portrait) {
    #intro img {
      max-width: 94%;
      margin: auto;
      display: block; } }

b,
strong {
  font-weight: bold; }

.footer {
  padding: 10% 0;
  text-align: center !important;
  font-family: sans-serif; }
  .footer .hr {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #a1a1a1;
    height: 1px;
    width: auto; }
  .footer .txt-footer {
    color: #484848;
    font-size: 0.8em;
    font-weight: 100;
    text-align: center;
    line-height: 1.5em; }
  .footer .copyright {
    margin-top: 10px;
    text-align: center; }
    .footer .copyright span {
      color: #000; }

/*# sourceMappingURL=adios-fidel.css.map */
